<div class="row mb-6 align-items-end">
  <%= search_form_for @q, url: manager_department_path(current_user.department), method: :get, local: true do |f| %>
    <div class="col-md-4">
      <%= f.text_field :email_cont, placeholder: t("users.index.search_placeholder"), class: "form-control" %>
    </div>
    <div class="col-md-4">
      <%= f.select :active_eq, active_status_options(params[:active_eq]), {}, {class: "form-control"} %>
    </div>
    <div class="col-md-4">
      <%= f.submit t("users.index.search_btn"), class: "btn btn-primary" %>
      <%= link_to t("users.index.reset_btn"), manager_department_path(current_user.department), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
