<h1 class="text-center"><%= t("departments.index.title") %></h1>

<%= link_to new_admin_department_path, class: "btn btn-success" do %>
  <i class="fas fa-plus"></i> <%= t("departments.index.add_button") %>
<% end %>

<%= search_form_for @q, url: admin_departments_path, method: :get, local: true,
                    class: "row row-cols-lg-auto g-3 align-items-center" do |f| %>
  <div class="col-md-6">
    <%= f.text_field :name_cont,
                      placeholder: t("departments.index.search_placeholder"),
                      class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= f.select :deleted_at_eq, department_status_options, { include_blank: t("departments.index.table.all") }, class: "form-control" %>
  </div>
  <div class="col-md-4 d-flex align-items-end">
    <%= f.submit t("users.index.filter.submit"), class: "btn btn-primary me-2" %>
    <%= link_to t("users.index.filter.reset"), admin_departments_path, class: "btn btn-secondary" %>
  </div>
<% end %>

<%= render "table_content_departments" %>
